.cake-item-holder {
  background: rgba(151, 48, 121, 0.08);
  border-radius: 16px;

  .cake-img-holder {
  }

  .cake-title-holder {
    .cake-price {
      font-size: 14px;
      color: #CB7640;
    }
  }
}
