.birthday-list {
  border: 1px solid rgb(151, 48, 121);
  padding: 10px 0px 10px 10px;
  border-radius: 6px;
}
.muirtl-uhb5lp {
  margin: 10px !important;
  width: 100%;
}

.dEfPoD {
  border-top: none !important;
  height: 60px !important;
}
.gVHDAV {
  background-color: #CB7640 !important;
}
.birthday-list-title {
  @media (max-width: 340px) {
    h5,
    span {
      font-size: 11px;
    }
  }
}
.persian-datepicker-sheet {
  max-width: 576px !important;
  margin: 0 auto !important;
  width: 100% !important;
}
.rmc-column-item-content {
  font-weight: 900 !important;
  color: #000 !important;
}
