.bakery-drawer-item-container {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  max-height: 80px;
  .img-holder {
    img {
      height: 70px;
      width: 100%;
      max-width: 70px;
    }
  }
}

.bakery-drawer-item-title {
  font-size: 1rem;
  @media screen and (max-width: 360px) {
    font-size: 0.8rem;
  }
}

.delete-icon {
  width: 24px;
  height: 24px;
  padding: 2px;
  z-index: 10;
}
