.order-tracking-item-holder {
  border: 1px solid #CB7640;
  border-radius: 15px;

  .order-tracking-img-container {
    .order-tracking-img-holder {
      width: 16%;
      .order-tracking-img {
      }
    }
  }
}
